doctype html
html
	head
		title
			|About InfoPuppies
			
		link(href='public/style.css',rel='stylesheet')
		link(rel="shortcut icon" type="image/png" href="public/pug.png")
	body
		//#thisisanid.thisisaclass

		div.navbar.navbarabout
			a(href="/") 
				img.iconbackground(src="public/infopuppiesicon2.png")
			ul.liststuff 
				li
					p Welcome, User
				li
					div.dropdown
						button.dropbtn(onmouseover="myFunction()",onmouseout="myFunction()") About
						div#myDropdown.dropdown-content
							a(href="/about") What is InfoPuppies?
							//a(href="/contact") Contact Us



		div.container.title
			h1 About InfoPuppies
		div.container.containerabout
			img.blockchain(src="public/blockchain.jpg")
			img.blockchain(src="public/microchip.jpg")
		div.textabout
			h2 Authors
			p This is the 2018 HackXX Project created by Matthew Chan and Eunice Chan.

			h2 About
			p There is no true centralized database for dog microchip information, and the data is spread across dozens of different private producers.  For a medical provider who wants to use this database, they often have to pay fees or purchase specialized equipment to access the information on the microchip.  This leads to even further decentralization as different incentives lead different medical professionals to choose different services.

			h2 Inspiration
			p Microchip technology is very popular when it comes to locating and identifying lost dogs. However, there is no standardized microchip that is used across all dogs. Furthermore, different microchip companies would have to each retain their own central database of information. 
			p We wanted to mitigate this issue by centralizing all this information in a non-centralized way. Through the use of block-chaining technology, we can have veterinarians easily access relevant medical information and vaccination histories at their convenience without overloading or slowing a server. Furthermore, this can also allow the company to keep from maintaining their own database which is prone to security risks and attacks. 




		script(src="public/tabs.js", type="text/javascript")



