doctype html
html
	head
		title
			|About InfoPuppies
			
		link(href='public/style.css',rel='stylesheet')
		link(rel="shortcut icon" type="image/png" href="public/pug.png")
	body
		//#thisisanid.thisisaclass

		div.navbar.navbarabout
			a(href="/") 
				img.iconbackground(src="public/infopuppiesicon2.png")
			ul.liststuff 
				li
					a(href="some link here") Login 
				li
					a.aboutunder(href="/about") About

		div.container.title
			h1 About InfoPuppies
		div.container.containerabout
			img.blockchain(src="public/blockchain.jpg")
			img.blockchain(src="public/microchip.jpg")
		div.textabout
			h2 Authors
			p This is the 2018 HackXX Project created by Matthew Chan and Eunice Chan.

			h2 About
			p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

			h2 Inspiration
			p Microchip technology is very popular when it comes to locating and identifying lost dogs. However, there is no standardized microchip that is used across all dogs. Furthermore, different microchip companies would have to each retain their own central database of information. 
			p We wanted to mitigate this issue by centralizing all this information in a non-centralized way. Through the use of block-chaining technology, we can have veterinarians easily access relevant medical information and vaccination histories at their convenience without overloading or slowing a server. Furthermore, this can also allow the company to keep from maintaining their own database which is prone to security risks and attacks. 

			h2 How it Works
			p We don't know yet.







