doctype html
html
	head
		title
			|InfoPuppies
			
		link(href='public/style.css',rel='stylesheet')
		link(rel="shortcut icon" type="image/png" href="public/pug.png")
	body
		//#thisisanid.thisisaclass
	
		
		div.navbar
			img.iconbackground(src="public/infopuppiesicon.png")
			ul.liststuff 
				li
					p Welcome, User 
				li
					div.dropdown
						button.dropbtn#abtbutton(onmouseover="myFunction()",onmouseout="myFunction()") About
						div#myDropdown.dropdown-content
							a(href="/about") What is InfoPuppies?
							//a(href="/contact") Contact Us

		div.container
			img.dogbackground(src="public/happydog.jpg")
			div.top-left 
				h1 Welcome to InfoPuppies
				p  Type in the microchip ID to begin your search 	
			//div.searchbutton
				button(onclick='something()') Begin your search 
			div.searchform
				form(name="myForm" action="/search" method="post")  
					input(type="text" name="fname")
					input(type="submit" value="Search")
			




	

