doctype html
html
	head
		title
			|About InfoPuppies
		
		link(href='public/style.css',rel='stylesheet')
		link(rel="shortcut icon" type="image/png" href="public/pug.png")
	body
		//#thisisanid.thisisaclass

		div.navbar.navbarabout
			a(href="/") 
				img.iconbackground(src="public/infopuppiesicon2.png")
			ul.liststuff 
				li
					a(href="some link here") Login 
				li
					a.aboutunder(href="/about") About
		